<!-- start custom head snippets -->

<link rel="preconnect" href="https://cdn.mathjax.org">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://www.google-analytics.com/">
<link rel="preconnect" href="https://storage.googleapis.com">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<meta property="og:url" content="https://blog.liorp.dev/" />
<meta property="og:image" content="/assets/images/favicon.png" />
<meta property="og:locale" content="en_US" />

<link rel="icon" href="/assets/images/favicon.ico" />

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4529248472834919"
     crossorigin="anonymous"></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->