<!-- start custom head snippets -->

<link rel="preconnect" href="https://cdn.mathjax.org">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://www.google-analytics.com/">
<link rel="preconnect" href="https://storage.googleapis.com">

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


<meta property="og:url" content="https://blog.liorp.dev/" />
<meta property="og:image" content="/assets/images/favicon.png" />
<meta property="og:locale" content="en_US" />

<link rel="icon" href="/assets/images/favicon.ico" />

<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script
     defer
     type="application/javascript"
     src="/assets/js/klaroConfig.js"
 ></script>
 <script
     defer
     data-config="klaroConfig"
     type="application/javascript"
     src="https://cdn.kiprotect.com/klaro/v0.7.9/klaro.js"
 ></script>
 <script
     type="text/plain"
     data-type="application/javascript"
     data-name="googleAnalytics"
 >
 (function loadGA() {
     var ga = document.createElement('script')
     ga.type = 'text/javascript'
     ga.async = true
     ga.src =
         ('https:' == document.location.protocol
             ? 'https://www'
             : 'http://www') +
         '.googletagmanager.com/gtag/js?id=G-6P7DB582X4'
     var s = document.getElementsByTagName('script')[0]
     s.parentNode.insertBefore(ga, s)
     window.dataLayer = window.dataLayer || []
     function gtag() {
         dataLayer.push(arguments)
     }
     gtag('js', new Date())
 
     gtag('config', 'G-6P7DB582X4', { page_path: window.location.pathname})
 })()
 </script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->