# Site settings
title: liorp@blog:~$
name: liorp
email: liorp at me dot com
description: >-
  Fullstack developer. Python, JS, React, Django. Math & physics enthusiast.
baseurl: ""
url: "https://blog.liorp.dev"

# Theme
remote_theme: b2a3e8/jekyll-theme-console
style: hacker
listen_for_clients_preferred_style: false
favicon: /assets/images/favicon.ico

# Build settings
markdown: kramdown
encoding: UTF-8
timezone: Asia/Tel_Aviv
permalink: /:categories/:title/

# Plugins
plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-remote-theme

# Pagination
paginate: 10
paginate_path: /page:num/

# Navigation
header_pages:
  - _pages/blog.md
  - _pages/about.md
  - _pages/resume.md

# Footer
footer: >-
  <a href="https://github.com/liorp">github</a> |
  <a href="https://twitter.com/liorpollak">twitter</a> |
  <a href="https://www.linkedin.com/in/lior-pollak-0b039170">linkedin</a>

# SEO
author: liorp
twitter:
  username: liorpollak
social:
  name: liorp
  links:
    - https://twitter.com/liorpollak
    - https://github.com/liorp
    - https://www.linkedin.com/in/lior-pollak-0b039170

# Analytics (optional - uncomment to enable)
# tracking:
#   script_src:
#     - "https://www.googletagmanager.com/gtag/js?id=UA-193470211-1"
#   async: true

# Comments disabled (utterances not supported by this theme)

# Include pages
include:
  - _pages

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: page
