---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

$sans-serif: Poppins, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "minimal-mistakes"; // main partials

.highlight {
    background: rgb(230, 230, 230);
    max-height: 300px;
    overflow: scroll;
    border: 1px #C1C1C1;
    border-radius: 3px;
  pre {
    overflow-x: unset;
    table {
      overflow-x: unset;
    }
  }
}

.page__subtitle{
  border-bottom: 1px solid $light-gray;
  font-size: $type-size-5;
  color: $gray;
  padding-bottom: $type-size-5;
}